:root {
    --brand-color: #212121;
    --item-color: #2196f3;
    --link-color: #757575;
    --second-background: #f5f4fa;
    --third-background: #2f303a;
}

body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.17;
    color: #212121;
    background-color: var(--white);
    text-decoration: none;
}

.top-menu a {
    color:#212121;
    text-decoration:none;
}

.top-menu a:hover , a:active {
    color: #2196f3;
}

.main-menu button {
    cursor: pointer;
    text-decoration: none;
    border: none;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
}

.top-menu {
    margin-top: 30px;
    margin-left: 150px;
    padding: 0;
}

.top-menu li {
    font-weight: 500;
    display: inline;
    white-space: nowrap;
    padding: 40px;
}

.web {
    font-family: 'Raleway';
    font-size: 26px;
    font-weight:700;
    line-height: 1.17;
    color: #2196f3;
    cursor: pointer;
}

.studio-dark {
    font-family: 'Raleway';
    font-size: 26px;
    font-weight: 700;
    line-height: 1.17;
    color: #000000;
    cursor: pointer;
}

.studio-white {
    font-family: 'Raleway';
    font-size: 26px;
    font-weight: 700;
    line-height: 1.17;
    color: #ffffff;
    cursor: pointer;
}

.main-menu {
    margin-top: 60px;
    text-align: center;
}

.main-menu li{
    display: inline;
    white-space: nowrap;
}

.main-menu button {
    background-color: #f5f4fa;
    color: #212121;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.62;
}

.main-menu button:hover, button:active {
    background-color: #2196f3;
    color: #ffffff;
}

.dark-webstudio ul {
    font-style: normal;
    list-style-type: none;
    padding: 0;
    margin-left: 150px;
}

footer.dark-webstudio {
    display: flex;
    align-items:  center;
    background-color: #2f303a;
    height: 252px;
}

.address {
    color: #ffffff;
    line-height: 1.71;
}

.contact {
    color: #999999;
    line-height: 1.71;
}

.grid { 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    align-items: stretch;
    justify-items: center;
    margin: 50px 150px 50px 150px
}

.grid img {
    border: 1px solid #f5f4fa;
    box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
    max-width: 100%;
    width: 100%;
    height: 100%;
}